<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.mvc.dao.monitor.PXJG_001_005.AttendanceByCourseMapper">
    <!-- 查询开班信息列表 -->
    <select id="getInfoList" parameterType="Hb69DTO" resultType="Hb69DTO">
     select
        a.chb100,
        a.chb068,
        a.chb315,
        (select aaa103 from v_aa10 where aaa100 = 'ACA109' and aaa102=a.aca111) aca111,
        (select code_name from code_value where code_type = 'CHB103' and code_value=a.chb103) chb103,
        a.chb106,
        to_char(a.chb107, 'yyyy-MM-dd') chb107,
        to_char(a.chb108, 'yyyy-MM-dd') chb108,
        b.chb069,
        b.chb167,
        b.chb186,
        b.chb064,
        (select chb063 from hb64 where chb064=b.chb064) chb063,
        b.chb158,
        b.aac003,
        to_char(b.chb160, 'yyyy-MM-dd') chb160
    from
        HB68 a,hb69 b
    where
         a.aae100 = '1' 
    and a.chb068= b.chb068

    and b.aae100 = '1'

    and a.aab001 = #{aab001}
    AND chb108 <![CDATA[>=]]> sysdate-1
        <if test="chb100!=null">
            and a.chb100=#{chb100}
        </if>
        <if test="aca111!=null">
            and a.aca111 = #{aca111}
        </if>
        <if test="chb103!=null">
            and a.chb103 in 
            <foreach item="item" collection="chb103s" open="(" separator="," close=")">
            	#{item}
        	</foreach>
        </if>
        <if test="chb107!=null">
        	and to_char(a.chb107,'yyyy-MM-dd') <![CDATA[>=]]> #{chb107}
        </if>
        <if test="chb108!=null">
        	and to_char(a.chb108,'yyyy-MM-dd') <![CDATA[<=]]> #{chb108}
        </if>
        <if test="chb315!=null">
            and a.chb315 in 
            <foreach item="item" collection="chb315s" open="(" separator="," close=")">
            	#{item}
        	</foreach>
        </if>
		<if test="chb057!=null">
			and a.chb057 = #{chb057}
		</if>
   			order by a.chb100 desc,chb160 
    </select>
    
     <select id="getHb69ById" parameterType="Hb69" resultType="Hb69">
		  SELECT chb069,
		         chb158,
		         chb160,
		         aac003,
		         chb064,
		         chb063,
		         chb167,
		         chb186,
		         chb109,
		         chb068,
		         qjnum,
		         dknum,
		         (sumnum-qjnum-dknum)wdknum
		     FROM (
				select 
					  a.chb069,
					  a.chb158,
					  a.chb160,
					  a.aac003,
					  a.chb064,
				      (select chb063 from hb64 where chb064=a.chb064) chb063,
					  a.chb167,
					  a.chb186,
					  a.chb109,
					  a.chb068,
					  nvl((SELECT count(distinct chc001) FROM zc07 p ,zc07_detail q WHERE p.czc007=q.czc007 and q.chb069=a.chb069),0) qjnum,
					  nvl((select sum(decode(#{type},'1',decode(edc362,null,0,1),'2',decode(edc363,null,0,1))) from zc10 where chb069=a.chb069),0) dknum,
					  nvl((select count(1) from hc60 c,zc01 d where d.aac002=c.aac002 and c.chb068=a.chb068 and c.eae052 = '1' and a.chb069 = #{chb069}),0) sumnum
					from 
					  hb69 a
					where 
					   a.aae100 = '1'
					and
					   a.chb069 = #{chb069}
			    )
    </select>
    <select id="getHc60ById1" parameterType="Hc60" resultType="Hc60">
                select 
                chc001,
                aac003,
                aac002,
                aac004,
                a_aac006,
                chc002,
                aac011,
                chc003,
                aae005,
                aac026,
                ecc064,
                aac001,
                edc360,
                edc361,
                 chb068,
                isleave,
                chc066,
                decode(isleave,'1','2',iscollect)iscollect,
                bus_uuid
              from (
                  select 
                      c.chc001,
                      aac003,
                      c.aac002,
                      c.chc066,
                      (select code_name from code_value where code_type='AAC004' and code_value=aac004) aac004,
                      nvl(floor(months_between(SYSDATE, aac006) / 12),'999') a_aac006,
                      nvl((select code_name from code_value where code_type='CHC002' and code_value=chc002),'-') chc002,
                      nvl((select code_name from code_value where code_type='AAC011' and code_value=aac011),'-') aac011,
                      chc003,
                      aae005,
                      aac026,
                      ecc064,
                      aac001,
                      e.edc360,
                      e.edc361,
                       chb068,
                      (SELECT sign(count(1)) FROM zc07 a,zc07_detail b WHERE a.czc007=b.czc007 and a.chc001=c.chc001 and b.chb069=#{chb069}) isleave,
                      decode(#{type},'1',decode(d.edc362,null,0,1),'2',decode(d.edc363,null,0,1))  iscollect,
                      (select m.file_rel_path from s_file_record m,s_bus_file_record n where m.file_uuid=n.file_uuid and n.bus_uuid in(SELECT nvl(edc437,edc438) FROM  zc01 b WHERE aac002=c.aac002 and rownum=1)) bus_uuid
                    from
                      HC60 c,(SELECT chc001,edc362,edc363 FROM zc10 where chb069=#{chb069}) d,zc01 e
                    where c.chc001=d.chc001(+)
                      and c.aae100='1' and c.eae052 = '1' and c.aac002=e.aac002
                      and chb068=#{chb068}
                      )
                  order by chc066,iscollect,isleave
     </select> 
    
    <select id="getHc60ById" parameterType="Hc60" resultType="Hc60">
			     select 
                chc001,
                aac003,
                aac002,
                aac004,
                a_aac006,
                chc002,
                aac011,
                chc003,
                aae005,
                aac026,
                ecc064,
                aac001,
                edc360,
                edc361,
                isleave,
                chc066,
                decode(isleave,'1','2',iscollect)iscollect,
                bus_uuid
              from (
                  select 
                      c.chc001,
                      aac003,
                      c.aac002,
                      c.chc066,
                      (select code_name from code_value where code_type='AAC004' and code_value=aac004) aac004,
                      nvl(floor(months_between(SYSDATE, aac006) / 12),'999') a_aac006,
                      nvl((select code_name from code_value where code_type='CHC002' and code_value=chc002),'-') chc002,
                      nvl((select code_name from code_value where code_type='AAC011' and code_value=aac011),'-') aac011,
                      chc003,
                      aae005,
                      aac026,
                      ecc064,
                      aac001,
                      e.edc360,
                      e.edc361,
                      (SELECT sign(count(1)) FROM zc07 a,zc07_detail b WHERE a.czc007=b.czc007 and a.chc001=c.chc001 and b.chb069=#{chb069}) isleave,
                      decode(#{type},'1',decode(d.edc362,null,0,1),'2',decode(d.edc363,null,0,1))  iscollect,
                      (select m.file_rel_path from s_file_record m,s_bus_file_record n where m.file_uuid=n.file_uuid and n.bus_uuid in(SELECT nvl(edc437,edc438) FROM  zc01 b WHERE aac002=c.aac002 and rownum=1)) bus_uuid
                    from
                      HC60 c,(SELECT chc001,edc362,edc363 FROM zc10 where chb069=#{chb069}) d,zc01 e
                    where c.chc001=d.chc001(+)
                      and c.aae100='1' and c.eae052 = '1' and c.aac002=e.aac002
                      and chb068=#{chb068}
                      )
                  order by chc066,iscollect,isleave
	 </select> 
    
    <!-- 校验是否考勤 -->
  <select id="checkZc10" parameterType="Zc10" resultType="Zc10">
    select czc010,edc364,edc362,edc363,aac002
    from Zc10
    where aac002 = #{aac002} and chb100=#{chb100} and chb069=#{chb069}  and  edc364= trunc(SYSDATE)
  </select>
  
  <select id="getHc60ByAac002" parameterType="Zc10" resultType="Hc60">
    select 
	  aac003,
	  aac002,
	  chc001,
	  chc003,
	  aae005,
	  aae006,
	  ecc064,
	  aac001
	from
	  HC60  
	where 
	  aae100='1' and eae052 = '1'
	  and aac002=#{aac002}
	  and chb068=#{chb068}
    </select>
  
   <!-- 新增信息 -->
  <insert id="addAttendance" parameterType="Zc10">
     <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="czc010"> 
            select sys_guid() from dual 
     </selectKey>
    insert into ZC10(
        	        czc010,
  					chc001,
  					aab001,
 					chb100,
 					chb069,
 					aac001 ,
  					aac002,
  					edc364,
  					edc362,
  					edc363,
  					aae011,
  					aae036,
  					aae013
  					
   
        )
        values(
			    #{czc010},
  				#{chc001},
  				#{aab001},
 				#{chb100},
 				#{chb069},
 				#{aac001},
  				#{aac002},
  				trunc(SYSDATE),
  				#{edc362},
  				#{edc363},
				#{aae011},
				SYSDATE,
				''
          	 )
    </insert>
    
  
  <!-- 更新信息 -->
  <update id="updateAttendance" parameterType="Zc10">
    update zc10
    <set>
      <if test="edc362 != null">
        edc362 = #{edc362},
      </if>
      <if test="edc363 != null">
        edc363 = #{edc363},
      </if>
      <if test="aae011 != null">
        AAE011 = #{aae011},
      </if>
        aae036 = SYSDATE
    </set>
    where czc010 = #{czc010}
  </update>
  
  
    <!-- 校验是否考勤 -->
  <select id="checkZc11" parameterType="Zc10" resultType="Zc10">
    select czc011,edc364,edc362,edc363,aac002
    from Zc11
    where aac002 = #{aac002} and chb100=#{chb100} and chb069=#{chb069}  and  edc364= trunc(SYSDATE)
  </select>
  
  <select id="getHb61ByAac002" parameterType="Zc10" resultType="Hb61">
    select 
	  a.aac003,
	  a.aac002,
	  a.chb061
	from
         hb61 a,hb68 b,hb69 c
    where
         b.chb068=c.chb068
      and b.aab001=a.aab001
      and c.aac002=a.aac002 
	  and a.aae100='1'
	  and c.aae100 = '1'
	  and a.aac002=#{aac002}
	  and b.chb068=#{chb068}
    </select>
  
   <!-- 新增信息 -->
  <insert id="addTeacherAttendance" parameterType="Zc10">
     <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="czc011"> 
            select sys_guid() from dual 
     </selectKey>
    insert into ZC11(
        	        czc011,
  					chb061,
  					aab001,
 					chb100,
 					chb069,
  					aac002,
  					edc364,
  					edc362,
  					edc363,
  					aae011,
  					aae036,
  					aae013
   
        )
        values(
			    #{czc011},
  				#{chb061},
  				#{aab001},
 				#{chb100},
 				#{chb069},
  				#{aac002},
  				trunc(SYSDATE),
  				#{edc362},
  				#{edc363},
				#{aae011},
				SYSDATE,
				''
          	 )
    </insert>
    
  
  <!-- 更新信息 -->
  <update id="updateTeacherAttendance" parameterType="Zc10">
    update zc11
    <set>
      <if test="edc362 != null">
        edc362 = #{edc362},
      </if>
      <if test="edc363 != null">
        edc363 = #{edc363},
      </if>
      <if test="aae011 != null">
        AAE011 = #{aae011},
      </if>
        aae036 = SYSDATE
    </set>
    where czc011 = #{czc011}
  </update>
  
  
</mapper>